@page "/foundation"

<PageTitle>Netcompany Foundation for .NET</PageTitle>

<h1>Netcompany Foundation for .NET</h1>

<p>The following parts of the <a href="https://goto.netcompany.com/cases/GTE1579/NCDOTNET">Netcompany Foundation for .NET</a> are showcased in this application:</p>
<ul>
    <li><a href="https://source.netcompany.com/tfs/Foundations/DOTNET/_git/DOTNET?path=/src/DomainDrivenDesign/readme.md">Domain Driven Design (DDD)</a></li>
    <li><a href="https://source.netcompany.com/tfs/Foundations/DOTNET/_git/DOTNET?path=/src/Cqs/readme.md">Command-Query Separation (CQS)</a></li>
    <li><a href="https://source.netcompany.com/tfs/Foundations/DOTNET/_wiki/wikis/Documentation/Database-Changes">Code-first using Entity Framework Core (EF)</a></li>
    <li><a href="https://source.netcompany.com/tfs/Foundations/DOTNET/_wiki/wikis/Documentation/Automated-Testing">Unit-testing using xUnit</a></li>
    <li>Dependency Injection (DI)</li>
</ul>

<div class="alert alert-secondary mt-4">
    <h4 class="alert-heading">Futher information</h4>
    <p>The Netcompany Foundation for .NET provides much more that for simplicity is <u>not</u> shown in this application, but might be relevant for your project:</p>
    <ul>
        <li><a href="https://source.netcompany.com/tfs/Foundations/DOTNET/_wiki/wikis/DOTNET Documentation">Netcompany Methodology deliverables</a></li>
        <li><a href="https://source.netcompany.com/tfs/Foundations/DOTNET/_git/DOTNET?path=/src/Validation/readme.md">Validation</a></li>
        <li><a href="https://source.netcompany.com/tfs/Foundations/DOTNET/_git/DOTNET?path=/src/Logging/readme.md">Logging</a></li>
        <li>and much more..</li>
    </ul>
</div>